In [92]:
# Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import statsmodels.formula.api as smf

In [93]:
# CAS API Keys
api_key = "85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98"

#base_url = "https://api.census.gov/data/2014/acs/acs1"

In [94]:
# Importing the Data
c = Census(api_key, year=2014)
print(c)

<census.core.Census object at 0x1a18ce05c0>

In [95]:
census_data = c.acs5.get(("NAME"      , "COUNTY"     , "B06010_001E", "B01002_001E",
                         "B06009_001E", "B06009_002E", "B06009_003E", "B06009_004E", 
                         "B06009_005E", "B06009_006E", "B02001_001E", "B02001_002E",
                         "B02001_003E", "B02001_004E", "B02001_005E", "B02001_006E",
                         "B02001_007E", "B02001_008E", "B01001_026E", "B01001_002E",
                         "B23025_005E", "B05010_001E", "B01003_001E"),{'for': 'county:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

census_pd.head()

,B01001_002E,B01001_026E,B01002_001E,B01003_001E,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,...,B06009_003E,B06009_004E,B06009_005E,B06009_006E,B06010_001E,B23025_005E,COUNTY,NAME,county,state
0,4913688.0,5060515.0,35.3,9974203.0,9974203.0,5329333.0,832253.0,54409.0,1394349.0,26074.0,...,1347268.0,1728972.0,1281851.0,679412.0,8049317.0,564669.0,037,"Los Angeles County, California",037,06
1,73450.0,79002.0,33.3,152452.0,152452.0,125830.0,5382.0,2287.0,3335.0,254.0,...,22190.0,30369.0,8858.0,3804.0,116777.0,5530.0,039,"Madera County, California",039,06
2,125838.0,130964.0,45.1,256802.0,256802.0,203975.0,6913.0,674.0,14565.0,593.0,...,23040.0,48100.0,58107.0,45233.0,212605.0,9756.0,041,"Marin County, California",041,06
3,9050.0,8896.0,50.2,17946.0,17946.0,15850.0,155.0,598.0,232.0,74.0,...,3826.0,5251.0,2006.0,1050.0,15468.0,1132.0,043,"Mariposa County, California",043,06
4,43979.0,43633.0,42.0,87612.0,87612.0,72141.0,705.0,4169.0,1570.0,186.0,...,16137.0,22575.0,8930.0,4842.0,71774.0,5193.0,045,"Mendocino County, California",045,06

In [96]:
# Column Reordering
census_pd = census_pd.rename(columns={"NAME"        : "county_name"       ,
                                      "COUNTY"      : "county"            , 
                                      "B06010_001E" : "gross_income"      , 
                                      "B01002_001E" : "median_age"        ,
                                      "B06009_001E" : "years_of_education", 
                                      "B06009_002E" : "less_than_hs"      , 
                                      "B06009_003E" : "high_school"       , 
                                      "B06009_004E" : "some_college"      , 
                                      "B06009_005E" : "college"           , 
                                      "B06009_006E" : "grad_school"       , 
                                      "B02001_001E" : "total_race"        , 
                                      "B02001_002E" : "white"             ,
                                      "B02001_003E" : "black"             , 
                                      "B02001_004E" : "native_american"   , 
                                      "B02001_005E" : "asian"             , 
                                      "B02001_006E" : "pacific_islander"  ,
                                      "B02001_007E" : "other"             , 
                                      "B02001_008E" : "multi_racial"      , 
                                      "B01001_026E" : "female"            , 
                                      "B01001_002E" : "male"              ,
                                      "B23025_005E" : "unemployment_rate" ,
                                      "B05010_001E" : "poverty_rate"      , 
                                      "B01003_001E" : "population_size"   })

census_pd.head()

,male,female,median_age,population_size,total_race,white,black,native_american,asian,pacific_islander,...,high_school,some_college,college,grad_school,gross_income,unemployment_rate,county,county_name,county,state
0,4913688.0,5060515.0,35.3,9974203.0,9974203.0,5329333.0,832253.0,54409.0,1394349.0,26074.0,...,1347268.0,1728972.0,1281851.0,679412.0,8049317.0,564669.0,037,"Los Angeles County, California",037,06
1,73450.0,79002.0,33.3,152452.0,152452.0,125830.0,5382.0,2287.0,3335.0,254.0,...,22190.0,30369.0,8858.0,3804.0,116777.0,5530.0,039,"Madera County, California",039,06
2,125838.0,130964.0,45.1,256802.0,256802.0,203975.0,6913.0,674.0,14565.0,593.0,...,23040.0,48100.0,58107.0,45233.0,212605.0,9756.0,041,"Marin County, California",041,06
3,9050.0,8896.0,50.2,17946.0,17946.0,15850.0,155.0,598.0,232.0,74.0,...,3826.0,5251.0,2006.0,1050.0,15468.0,1132.0,043,"Mariposa County, California",043,06
4,43979.0,43633.0,42.0,87612.0,87612.0,72141.0,705.0,4169.0,1570.0,186.0,...,16137.0,22575.0,8930.0,4842.0,71774.0,5193.0,045,"Mendocino County, California",045,06

In [97]:
# Values per capita

census_pd["gross_income_pc"]       = census_pd["gross_income"] / census_pd["population_size"] 
census_pd["years_of_education_pc"] = census_pd["years_of_education"] / census_pd["population_size"] 
census_pd["less_than_hs"]          = census_pd["less_than_hs"] / census_pd["population_size"] 
census_pd["high_school_pc"]        = census_pd["high_school"] / census_pd["population_size"] 
census_pd["some_college_pc"]       = census_pd["some_college"] / census_pd["population_size"] 
census_pd["college_pc"]            = census_pd["college"] / census_pd["population_size"] 
census_pd["grad_school_pc"]        = census_pd["grad_school"] / census_pd["population_size"] 
census_pd["total_race_pc"]         = census_pd["total_race"] / census_pd["population_size"] 
census_pd["white_pc"]              = census_pd["white"] / census_pd["population_size"]
census_pd["black_pc"]              = census_pd["black"] / census_pd["population_size"]
census_pd["native_american_pc"]    = census_pd["native_american"] / census_pd["population_size"]
census_pd["asian_pc"]              = census_pd["asian"] / census_pd["population_size"]
census_pd["pacific_islander_pc"]   = census_pd["pacific_islander"]/ census_pd["population_size"]
census_pd["other_pc"]              = census_pd["other"] / census_pd["population_size"]
census_pd["multi_racial_pc"]       = census_pd["multi_racial"] / census_pd["population_size"]
census_pd["female_pc"]             = census_pd["female"] / census_pd["population_size"]
census_pd["male_pc"]               = census_pd["male"] / census_pd["population_size"]
census_pd["unemployment_rate_pc"]  = census_pd["unemployment_rate"] / census_pd["population_size"]
census_pd["poverty_rate_pc"]       = census_pd["poverty_rate"] / census_pd["population_size"]

census_pd.head()

,male,female,median_age,population_size,total_race,white,black,native_american,asian,pacific_islander,...,black_pc,native_american_pc,asian_pc,pacific_islander_pc,other_pc,multi_racial_pc,female_pc,male_pc,unemployment_rate_pc,poverty_rate_pc
0,4913688.0,5060515.0,35.3,9974203.0,9974203.0,5329333.0,832253.0,54409.0,1394349.0,26074.0,...,0.083441,0.005455,0.139796,0.002614,0.195498,0.038885,0.507360,0.492640,0.056613,0.224347
1,73450.0,79002.0,33.3,152452.0,152452.0,125830.0,5382.0,2287.0,3335.0,254.0,...,0.035303,0.015001,0.021876,0.001666,0.067261,0.033519,0.518209,0.481791,0.036274,0.267205
2,125838.0,130964.0,45.1,256802.0,256802.0,203975.0,6913.0,674.0,14565.0,593.0,...,0.026920,0.002625,0.056717,0.002309,0.076573,0.040568,0.509980,0.490020,0.037990,0.199909
3,9050.0,8896.0,50.2,17946.0,17946.0,15850.0,155.0,598.0,232.0,74.0,...,0.008637,0.033322,0.012928,0.004123,0.022233,0.035551,0.495709,0.504291,0.063078,0.159200
4,43979.0,43633.0,42.0,87612.0,87612.0,72141.0,705.0,4169.0,1570.0,186.0,...,0.008047,0.047585,0.017920,0.002123,0.063188,0.037723,0.498025,0.501975,0.059273,0.199801

In [98]:
#CoolClimate Data
climate_data_to_load = "climate_data.csv"
climate_pd = pd.read_csv(climate_data_to_load)
climate_pd.head()

FileNotFoundError: [Errno 2] File b'climate_data.csv' does not exist: b'climate_data.csv'

In [12]:
# Data with County and State
us_states_to_load = "us_states.csv"

us_states_df = pd.read_csv(us_states_to_load, 
                           header = None)

us_states_df.columns = ["Upper Full Name", 
                        "Proper Full Name", 
                        "State"]
us_states_df.head()

  Upper Full Name Proper Full Name State
0         ALABAMA          Alabama    AL
1          ALASKA           Alaska    AK
2         ARIZONA          Arizona    AZ
3        ARKANSAS         Arkansas    AR
4      CALIFORNIA       California    CA

In [13]:
# Merge both dataframes
states_complete = pd.merge(us_states_df, 
                           climate_pd, how = "left", 
                           on = 
                           ["State"])
states_complete.head()

,Upper Full Name,Proper Full Name,State,Population,County,electricity (kWh),Nat. Gas (cu.ft.),FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),Households,Total County Carbon Footprint (tCO2e/yr)
0,ALABAMA,Alabama,AL,14387,SUMTER,"12,667","28,415",6,"18,175",11.9,13.9,7.7,3.7,3.8,41.0,6654.0,"272,685"
1,ALABAMA,Alabama,AL,13563,WILCOX,"12,846","26,873",10,"18,756",12.2,14.1,8.2,3.7,3.7,41.8,6293.0,"262,872"
2,ALABAMA,Alabama,AL,22987,MACON,"12,983","34,664",1,"18,269",12.1,14.6,7.3,3.9,4.0,41.9,10104.0,"422,969"
3,ALABAMA,Alabama,AL,9809,GREENE,"13,157","29,872",4,"18,821",12.4,14.4,7.5,3.7,3.9,41.9,5029.0,"210,619"
4,ALABAMA,Alabama,AL,12701,BULLOCK,"12,493","28,330",1,"19,187",12.6,13.8,7.7,3.9,4.0,41.9,5166.0,"216,678"

In [14]:
# Getting variables in the correct format
states_complete["County"] = states_complete["County"].str.title()
states_complete.head()

,Upper Full Name,Proper Full Name,State,Population,County,electricity (kWh),Nat. Gas (cu.ft.),FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),Households,Total County Carbon Footprint (tCO2e/yr)
0,ALABAMA,Alabama,AL,14387,Sumter,"12,667","28,415",6,"18,175",11.9,13.9,7.7,3.7,3.8,41.0,6654.0,"272,685"
1,ALABAMA,Alabama,AL,13563,Wilcox,"12,846","26,873",10,"18,756",12.2,14.1,8.2,3.7,3.7,41.8,6293.0,"262,872"
2,ALABAMA,Alabama,AL,22987,Macon,"12,983","34,664",1,"18,269",12.1,14.6,7.3,3.9,4.0,41.9,10104.0,"422,969"
3,ALABAMA,Alabama,AL,9809,Greene,"13,157","29,872",4,"18,821",12.4,14.4,7.5,3.7,3.9,41.9,5029.0,"210,619"
4,ALABAMA,Alabama,AL,12701,Bullock,"12,493","28,330",1,"19,187",12.6,13.8,7.7,3.9,4.0,41.9,5166.0,"216,678"

In [16]:
# Creating the keys to merge the data sets
states_complete["county_name"] = states_complete["County"] + "County, " + states_complete["Proper Full Name"]
states_complete.head()

,Upper Full Name,Proper Full Name,State,Population,County,electricity (kWh),Nat. Gas (cu.ft.),FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),Households,Total County Carbon Footprint (tCO2e/yr),county_name
0,ALABAMA,Alabama,AL,14387,Sumter,"12,667","28,415",6,"18,175",11.9,13.9,7.7,3.7,3.8,41.0,6654.0,"272,685","Sumter County, Alabama"
1,ALABAMA,Alabama,AL,13563,Wilcox,"12,846","26,873",10,"18,756",12.2,14.1,8.2,3.7,3.7,41.8,6293.0,"262,872","Wilcox County, Alabama"
2,ALABAMA,Alabama,AL,22987,Macon,"12,983","34,664",1,"18,269",12.1,14.6,7.3,3.9,4.0,41.9,10104.0,"422,969","Macon County, Alabama"
3,ALABAMA,Alabama,AL,9809,Greene,"13,157","29,872",4,"18,821",12.4,14.4,7.5,3.7,3.9,41.9,5029.0,"210,619","Greene County, Alabama"
4,ALABAMA,Alabama,AL,12701,Bullock,"12,493","28,330",1,"19,187",12.6,13.8,7.7,3.9,4.0,41.9,5166.0,"216,678","Bullock County, Alabama"

In [17]:
# Renaming some variables
states_complete = states_complete.rename(columns={"Upper Full Name"                              : "upper_state"       ,
                                                  "Proper Full Name"                             : "title_state"       ,
                                                  "State"                                        : "state_abbrev"      ,
                                                  "Population"                                   : "population"        ,
                                                  "County"                                       : "county"            ,
                                                  "electricity (kWh)"                            : "electricity"       ,
                                                  "Nat. Gas (cu.ft.)"                            : "natural_gas"       ,
                                                  "FUELOIL (gallons)"                            : "fuel_oil"          ,
                                                  "Vehicle miles traveled"                       : "vehicle_miles"     ,
                                                  " Transport (tCO2e/yr) "                       : "transport_fp"      ,
                                                  " Housing (tCO2e/yr) "                         : "housing_fp"        ,
                                                  " Food (tCO2e/yr) "                            : "food_fp"           ,
                                                  " Goods (tCO2e/yr) "                           : "goods_fp"          ,
                                                  " Services (tCO2e/yr) "                        : "services_fp"       ,
                                                  " Total Household Carbon Footprint (tCO2e/yr) ": "household_total_fp",
                                                  " Households "                                 : "household_count"   ,
                                                  " Total County Carbon Footprint (tCO2e/yr) "   : "county_total_fp"}  )
states_complete.head()

,upper_state,title_state,state_abbrev,population,county,electricity,natural_gas,fuel_oil,vehicle_miles,transport_fp,housing_fp,food_fp,goods_fp,services_fp,household_total_fp,household_count,county_total_fp,county_name
0,ALABAMA,Alabama,AL,14387,Sumter,"12,667","28,415",6,"18,175",11.9,13.9,7.7,3.7,3.8,41.0,6654.0,"272,685","Sumter County, Alabama"
1,ALABAMA,Alabama,AL,13563,Wilcox,"12,846","26,873",10,"18,756",12.2,14.1,8.2,3.7,3.7,41.8,6293.0,"262,872","Wilcox County, Alabama"
2,ALABAMA,Alabama,AL,22987,Macon,"12,983","34,664",1,"18,269",12.1,14.6,7.3,3.9,4.0,41.9,10104.0,"422,969","Macon County, Alabama"
3,ALABAMA,Alabama,AL,9809,Greene,"13,157","29,872",4,"18,821",12.4,14.4,7.5,3.7,3.9,41.9,5029.0,"210,619","Greene County, Alabama"
4,ALABAMA,Alabama,AL,12701,Bullock,"12,493","28,330",1,"19,187",12.6,13.8,7.7,3.9,4.0,41.9,5166.0,"216,678","Bullock County, Alabama"

In [31]:
climate_census = pd.merge(census_pd,
                          states_complete,
                          how = "inner",
                          on = "county_name")
climate_census.dtypes

male                     float64
female                   float64
median_age               float64
population_size          float64
total_race               float64
white                    float64
black                    float64
native_american          float64
asian                    float64
pacific_islander         float64
other                    float64
multi_racial             float64
poverty_rate             float64
years_of_education       float64
less_than_hs             float64
high_school              float64
some_college             float64
college                  float64
grad_school              float64
gross_income             float64
unemployment_rate        float64
county_x                  object
county_name               object
county_x                  object
state                     object
gross_income_pc          float64
years_of_education_pc    float64
high_school_pc           float64
some_college_pc          float64
college_pc               float64
grad_school_pc           float64
total_race_pc            float64
white_pc                 float64
black_pc                 float64
native_american_pc       float64
asian_pc                 float64
pacific_islander_pc      float64
other_pc                 float64
multi_racial_pc          float64
female_pc                float64
male_pc                  float64
unemployment_rate_pc     float64
poverty_rate_pc          float64
upper_state               object
title_state               object
state_abbrev              object
population                 int64
county_y                  object
electricity               object
natural_gas               object
fuel_oil                  object
vehicle_miles             object
transport_fp             float64
housing_fp                object
food_fp                  float64
goods_fp                 float64
services_fp              float64
household_total_fp       float64
household_count          float64
county_total_fp           object
dtype: object

In [72]:
def test_value_replace(variable):
    climate_census[variable] = climate_census[variable].str.replace(' ', '')
    climate_census[variable] = climate_census[variable].str.replace('-', '')
    climate_census[variable] = climate_census[variable].str.replace(',', '')
    for i in climate_census[variable].value_counts().index:
        try:
            float(trim(i))
        except:
            print(i)

In [73]:
float('12k')

ValueError: could not convert string to float: '12k'

In [74]:
test_value_replace('fuel_oil')

1
0
2

3
5
4
6
8
7
10
9
13
11
12
14
16
18
17
22
25
15
19
24
35
37
36
20
33
23
26
28
31
38
50
39
21
49
34
32
51
59
29
41
56
60
27
42
58
47
57
53
43
46
44
40
48
70
45
30
87
55
73
63
62
68
54
65
150
114
108
126
97
79
72
110
103
69
223
156
83
61
64
92
52
75
84
66
159
67
191
80
127
86
78
180
132
118
95
94
122
111
162
134
141
135
117
116
158
96
82
182
109
148
411
125
260
234
107
76
183
187
136
101
105
88
412
113
167
100
140
133
98
212
112
228
124
242
177
99
123
326
106
93
149
192
190
152
129
143
337
120
395
217
89
164
203
195
466
189
349
172
115
199
155
169
375
269
315
81
421
174
204
102
130
85
245
309
224
306
238
213
154
206
77
296
362
186
157
194
146
452
104
236
285
364
139
271
197
173
147
71
301
179
229
459
128
218
145
142
475
202
166
222
121
644
424
153
291
90
74
561
501
312
198
205
620
239
280
606
163
196
277
230
246
534
268
545
219
316
619
442
377
240
200
654
257
399
226
181
193
298
457
259
393
694
254
327
609
546
380
453
467
422
595
227
436
488
137
282
357
477
374
243
548
330
221
289
504
520
407
529
313
668
160
552
665
165
554
176
232
489
214
405
295
383
589
495
634
253
510
144
376
216
445
184
261
432
278
468
551
666
371
138
522
201
562
320
255
379
544
415
516
231
381
539
317
265
428
279
469
185
366
512
391
521
208
610
324
302
661
591
641
615
274
91
568
299
496
300
636
528
590
365
262
486
275
241
225
263
403

In [75]:
climate_census[['electricity' , 'natural_gas', 'fuel_oil', 
                      'vehicle_miles', 'housing_fp' , 'county_total_fp']].to_csv('formats.csv')

In [90]:
climate_census.replace(to_replace='', value=np.nan).dtypes

male                     float64
female                   float64
median_age               float64
population_size          float64
total_race               float64
white                    float64
black                    float64
native_american          float64
asian                    float64
pacific_islander         float64
other                    float64
multi_racial             float64
poverty_rate             float64
years_of_education       float64
less_than_hs             float64
high_school              float64
some_college             float64
college                  float64
grad_school              float64
gross_income             float64
unemployment_rate        float64
county_x                  object
county_name               object
county_x                  object
state                     object
gross_income_pc          float64
years_of_education_pc    float64
high_school_pc           float64
some_college_pc          float64
college_pc               float64
grad_school_pc           float64
total_race_pc            float64
white_pc                 float64
black_pc                 float64
native_american_pc       float64
asian_pc                 float64
pacific_islander_pc      float64
other_pc                 float64
multi_racial_pc          float64
female_pc                float64
male_pc                  float64
unemployment_rate_pc     float64
poverty_rate_pc          float64
upper_state               object
title_state               object
state_abbrev              object
population                 int64
county_y                  object
electricity              float64
natural_gas              float64
fuel_oil                  object
vehicle_miles            float64
transport_fp             float64
housing_fp                object
food_fp                  float64
goods_fp                 float64
services_fp              float64
household_total_fp       float64
household_count          float64
county_total_fp           object
dtype: object

In [82]:
climate_census.loc[climate_census[[]] == '', ['housing_fp']] =

SyntaxError: invalid syntax (<ipython-input-82-589652836366>, line 1)

In [ ]:
,,,   !=   '', '', '',

In [76]:
variables_to_clean = ['electricity' , 'natural_gas',
                      'vehicle_miles', 'housing_fp' , 'county_total_fp']


for variable in variables_to_clean:
    print(variable)
    if climate_census[variable].dtype == str:
        climate_census[variable] = climate_census[variable].str.replace(' ', '')
        climate_census[variable] = climate_census[variable].str.replace('-', '')
        climate_census[variable] = climate_census[variable].str.replace(',', '')
        climate_census[variable] = climate_census[variable]
    if climate_census[variable].dtype != float:
        climate_census[variable] = climate_census[variable].astype(float)
    
climate_census.dtypes

#climate_census.dtypes

electricity
natural_gas
vehicle_miles
housing_fp

ValueError: could not convert string to float:

In [54]:
#Regression with robustcov
# Regressions on transportation
lm_transport = smf.ols(formula = 'transport_fp ~ gross_income_pc + high_school_pc + some_college_pc + college_pc + grad_school_pc + white_pc + black_pc + native_american_pc + asian_pc + pacific_islander_pc + other_pc + multi_racial_pc + female_pc + male_pc + unemployment_rate_pc + poverty_rate_pc', data = climate_census).fit().get_robustcov_results()
#print(lm_transport.params) 
lm_transport_summary = lm_transport.summary()

#Regression
# Regressions on  housing
lm_housing = smf.ols(formula = 'housing_fp ~ gross_income_pc + high_school_pc + some_college_pc + college_pc + grad_school_pc + white_pc + black_pc + native_american_pc + asian_pc + pacific_islander_pc + other_pc + multi_racial_pc + female_pc + male_pc + unemployment_rate_pc + poverty_rate_pc', data = climate_census).fit().get_robustcov_results()
#print(lm_housing.params) 
lm_housing_summary = lm_housing.summary()

#Regression
# Regressions on goods 
lm_goods = smf.ols(formula = 'goods_fp ~ gross_income_pc + high_school_pc + some_college_pc + college_pc + grad_school_pc + white_pc + black_pc + native_american_pc + asian_pc + pacific_islander_pc + other_pc + multi_racial_pc + female_pc + male_pc + unemployment_rate_pc + poverty_rate_pc', data = climate_census).fit().get_robustcov_results()
#print(lm_goods.params) 
lm_goods_summary = lm_goods.summary()

#Regression
# Regressions on services 
lm_services = smf.ols(formula = 'services_fp ~ gross_income_pc + high_school_pc + some_college_pc + college_pc + grad_school_pc + white_pc + black_pc + native_american_pc + asian_pc + pacific_islander_pc + other_pc + multi_racial_pc + female_pc + male_pc + unemployment_rate_pc + poverty_rate_pc', data = climate_census).fit().get_robustcov_results()
#print(lm_services.params) 
lm_services_summary = lm_services.summary()

/Users/ajcascella/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:1532: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 16, but rank is 15
  'rank is %d' % (J, J_), ValueWarning)

ValueError: shapes (2921,152) and (2921,152) not aligned: 152 (dim 1) != 2921 (dim 0)